mat-toolbar.mat-primary {
    // background: #4a4a57;
    // color: #fff;
    background: rgb(243, 241, 241);
}

.toolbar-icon {
    // color: #fff;
    color: #000;
    opacity: 70%;
}
  
.toolbar-spacer {
    flex: 1 1 auto;
}

h6 {
    color: #000;
    opacity: 70%;
}