<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button type="button" class="toolbar-icon" (click)="this.closeSidenavBar()" aria-hidden="false" aria-label="close icon">
      <mat-icon>close</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>
    <h6>Locations Manager</h6>
    <span class="toolbar-spacer"></span>
    
    <button mat-icon-button type="button" class="toolbar-icon" aria-hidden="false" aria-label="refresh icon">
      <mat-icon>refresh</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
