.drag-list {
    margin: 40px;
    width: 1000px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .drag-box {
    padding: 20px 10px;
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.sidebar-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.panel-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
}

mat-sidenav-content {
  margin-top: 15px;
}
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body {
   font-family: 'Roboto', sans-serif;
}

.DiagramDiv {
  background: rgba(242, 242, 242);
  width: 92vw;
  height: 70vh;
  margin-left: 3vw;
  border-radius: 20px;
}

:focus {outline:0 !important;}

.left {
  float: left;
  padding: 5px;
  margin: 5px;
}

.center {
  float: center;
  padding: 5px;
  margin: 5px;
}

.box {
  border: solid 1px black;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clear {
  clear: both;
}

mat-sidenav-container {
  height: 100%;
  background-color: white;
}

.overlay {
  position: fixed;
  width: 13%;
  height: 12%; 
  left: 4.85vw;
  background-color: rgba(242, 242, 242);
  z-index: 3;
}