<mat-sidenav-container class="sidebar-container" [hasBackdrop]="true">
  <mat-sidenav class="panel-sidenav" position="end" #sidenav>
    <app-search-panel></app-search-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="text-align:center">
      <h1 style="font-family:Helvetica; margin-top: 20px">
        {{ title }}
      </h1>
    </div>

    <ul>

    <button mat-stroked-button style="margin-left: 2.5%;" (click)="sidenav.open()">Add Location</button>
    <button style="margin-left: 10px" mat-stroked-button (click)="this.clearGraph()">Clear</button>
    <button style="float: right; margin-right: 6%;" mat-stroked-button onclick="document.getElementById('file-dialog').click()">
      Import Flight
      <input id="file-dialog" type="file" style="display:none" (input)="readFile($event)" onclick="this.value=null">
    </button>
    <button style="float:right; margin-right: 10px" mat-stroked-button (click)="this.saveJson()">Export Flight</button>
    

    </ul>

    <div class="center">
      <div class="overlay"></div>
      <gojs-diagram #myDiagram [initDiagram]='initDiagram' [nodeDataArray]='diagramNodeData' [linkDataArray]='diagramLinkData'
        [divClassName]='diagramDivClassName' [modelData]='diagramModelData' (modelChange)='diagramModelChange($event)'>
      </gojs-diagram>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>