<form class="search-form">
  <app-panel-header></app-panel-header>

  <mat-divider></mat-divider>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="icon">
        <mat-icon>search</mat-icon>
      </span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="this.searchExpression" (ngModelChange)="onSearchChange($event)" placeholder="Search locations" aria-label="Search" name="search-bar">
  </div>
    
  <mat-divider></mat-divider>

  <h6 class="results-header">Results</h6>

  <mat-action-list style="margin-left: 10px">
    <button mat-list-item (click)="onCountryClick(i)" *ngFor="let country of searchedCountries; let i = index" [id]="i">
      <img matListAvatar src="../../assets/flags/{{ country[1].toLowerCase() }}.png" [alt]="country[1]">
      <h3 matLine> {{ country[0] | titlecase }} </h3>
    </button>
  </mat-action-list>

</form>
