.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.search-field {
    font-size: 15px;
    width: 100%;
}

.input-group {
    width: 85%;
    margin-top: 15px;
    margin-left: 27px;
}

.form-control {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important; 
}

.results-header {
    color: #000;
    opacity: 70%;
    margin-left: 145px;
    margin-top: 15px;
}